body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: url('/image/body_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000; /* 폰트 색상 검정으로 변경 */
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
.section-wrapper {
    min-height: 850px;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans KR", sans-serif;
    color: #000000; /* 추가적으로 폰트 색상도 검정으로 설정 */
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.legend, th, td {
    background-color: rgba(255, 255, 255, 0.8); /* 텍스트 배경에 반투명 효과 */
}
th {
    font-weight: 100;
    padding: 10px;
}
li {
    display: inline-block;
    margin-right: 10px;
}
td {
    padding-top : 10px;
    padding-bottom : 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}
select {
    background-color: transparent;
    border: none;
    outline: none;
}
option {
    background-color: #010a47;
}
.fieldset {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 상자 그림자 효과 */
}
.table {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* 테이블 상자 그림자 */
}
a, button {
    transition: color 0.3s ease, background-color 0.3s ease; /* 부드러운 색상 변화 */
}

a:hover, button:hover {
    color: #fff; /* 호버 시 폰트 색상 */
    background-color: #007bff; /* 호버 시 배경 색상 */
}
li {
    margin: 10px;
    display: block;
}
a, button {
    transition: color 0.3s ease, background-color 0.3s ease; /* 부드러운 색상 변화 */
}
input {
    border-color: yellowgreen;
    border-radius: 15px;
    margin: 2px;
    padding-left: 10px;
    background-color: transparent;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
button {
    border-radius: 20px; /* 버튼 모서리 둥글게 */
    background-color: white;
}
button.cancel-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
button.cancel-btn:hover {
    color: grey;
}
.section {
  padding: 80px 0;
}
.title {
  padding: 20px 0 30px;
}
.container {
    padding: 0;
}
.section-inner {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 630px;
}
.ad-banners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
